html
{
    box-sizing: border-box;
}

*, *:before, *:after
{
    box-sizing: inherit;
}

body
{
    font-family: monospace;
}

.duplicates li
{
    color: darkblue;
}

.duplicates li.same-name
{
    color: blue;
}

.has-duplicates
{
    background-color: #EEEEEE;
}
