html
{
    box-sizing: border-box;
}

*, *:before, *:after
{
    box-sizing: inherit;
}

body
{
    font-family: monospace;
}

.duplicates
{
    color: darkblue;
}

.duplicates .same-name
{
    color: blue;
}

.has-duplicates
{
    background-color: #EEEEEE;
}

.entry.has-children > p
{
    cursor: pointer;
}

.entry.has-children:not(.show-children) > .children
{
    display: none;
}

.entry.has-children:not(.show-children) > p:before
{
    content: "\27A1\FE0F  ";
}

.entry.has-children.show-children > p:before
{
    content: "\2198\FE0F  ";
}

.entry ul.children
{
    list-style-type: none;
}

.entry ul.duplicates
{
    list-style-type: "\1F194  ";
}

.entry .children
{
    border-left: 1px solid lightgray;
}
